services:
  webserver:
    image: nginx
    container_name: vnf-web
    ports:
      - "8081:80"
    networks:
      - net-chain

  loadbalancer:
    image: haproxytech/haproxy-alpine
    container_name: vnf-lb
    ports:
      - "9090:80"
    depends_on:
      - webserver
    networks:
      - net-chain

  firewall:
    image: nginx:alpine
    container_name: vnf-firewall
    # On utilise resolver 127.0.0.11 pour que Nginx n'échoue pas si vnf-lb met du temps à répondre
    command: >
      /bin/sh -c "printf 'server { 
        listen 80; 
        location / { 
          resolver 127.0.0.11 valid=30s;
          set $$upstream vnf-lb;
          proxy_pass http://$$upstream:80; 
        } 
      }' > /etc/nginx/conf.d/default.conf && nginx -g 'daemon off;'"
    ports:
      - "8080:80"
    depends_on:
      - loadbalancer
    networks:
      - net-chain

networks:
  net-chain:
    driver: bridge
